@import "variables";
@import "fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1, h2, h3, h4 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  line-height: 7rem;
}

h2 {
  font-size: 5rem;
  line-height: 5.9rem;
}

h3 {
  font-size: 4rem;
  line-height: 4.7rem;
}

h4 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.body-intro {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.body-main {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
}

span, label, input {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
}

.small {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 130%;
}

.card {
  border: 2px solid var(--text);
  border-radius: 48px;
  padding: 34px 94px;
  width: 520px;
  margin-top: 10vh;
  margin-bottom: 10vh;

  &__lg {
    width: 845px;
  }

  &-title {
    margin-bottom: 16px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.buttons-group {
  display: flex;
  column-gap: 24px;
  justify-content: end;
  align-items: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--nav-height));
  flex-direction: column;
  padding: 16px;
}

.page-nav {
  align-self: end;
}

.cols {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 86px;

  &-item {
    flex: 1 0 auto;
  }
}
