@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

h1, h2, h3, h4 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  line-height: 7rem;
}

h2 {
  font-size: 5rem;
  line-height: 5.9rem;
}

h3 {
  font-size: 4rem;
  line-height: 4.7rem;
}

h4 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.text-intro {
  font-family: Roboto, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
}

.text-main {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 140%;
}

p, .text-medium {
  font-family: Roboto, sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 130%;
}

span, label, input, .text-caption {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%;
}

.text-small {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 130%;
}

a {
  color: var(--text)
}

.card {
  width: 520px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 34px 94px;

  border: 2px solid var(--text);
  border-radius: 48px;

  &__lg {
    width: 845px;
  }

  &-title {
    margin-bottom: 16px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.buttons-group {
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: end;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - var(--nav-height));
  padding: 16px;
}

.page-nav {
  align-self: end;
}

.cols {
  display: flex;
  flex-direction: row;
  column-gap: 86px;
  align-items: center;

  &-item {
    flex: 1 0 auto;
  }
}

.main {
  overflow: hidden;
  display: flex;

  height: calc(100vh - 100px);
  max-height: 940px;

  border: 2px solid var(--text);
  border-radius: 48px;
}


.chats {
  width: 360px;
}

.aside {
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--text);
}

.aside-header {
  display: flex;
  flex-direction: column;
  row-gap: 43px;

  padding: 16px;

  border-bottom: 2px solid var(--text);
}

.aside-body {
  overflow-y: auto;
}
