:root {
  --primary: #F19C79;
  --secondary: #7d7d7d;
  --secondary2: #CBDFBD;
  --text: #000;
  --text2: #fff;
  --caption: var(--secondary);
  --neutral-light: #FBF3EF;
  --link: #3173D8;
  --danger: #F54D07;
  --success: #A1C300;
  --aliquot: 4px;
  --nav-height: 28px;
}
