.wrapper {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  text-decoration: none;

  &:hover {
    background-color: var(--neutral-light);
  }
}

.chat {
  display: flex;
  column-gap: 8px;
  padding: 16px 0;
  border-bottom: 2px solid var(--text);
}

.avatar {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
}

.content, .info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.info {
  align-items: flex-end;
}

.count {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  height: 20px;

  color: var(--text2);

  background-color: var(--link);
  border-radius: 50%;
}

