<div class="page">
  <div class="card">
    <h1 class="card-title">Log In</h1>
    <form class="card-body">
      {{> input id='login' name='login' placeholder='Login' label='Login' type='text' }}
      {{> input id='password' name='password' placeholder='Password' label='Password' type='password' }}
      <div class="buttons-group">
        {{> link text='Sign up' href='#'}}
        {{> button text='Log in'}}
      </div>
    </form>
  </div>
</div>
