.label {
  margin-bottom: var(--aliquot);
  color: var(--caption)
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: calc(var(--aliquot) * 2);
  border: 1px solid var(--text);
  cursor: pointer;
  transition: box-shadow ease-out .3s, border-color ease-out .3s;
  padding-right: 16px;

  &:hover:not(&-disabled), &:focus-within {
    box-shadow: 0 1px 4px var(--primary);
  }

  &-error {
    border-color: var(--danger);
  }

  &-disabled {
    border-color: var(--caption);
    background-color: rgba(125, 125, 125, 0.1);
  }
}

.el {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 16px 12px 16px;
  outline: none;
}

.error {
  color: var(--danger);
}

.icon-error {
  color: var(--danger);
  height: 16px;
}
