<div class="page">
  <div class="main">
    <aside class="aside">
      <div class="aside-header">
        <div class="buttons-group">
          {{> link text='Profile' href='#'}}
        </div>
        <form>
          {{> input id='search' name='search' placeholder='Search' type='text' }}
        </form>
      </div>
      <div class="aside-body">
        <div class="chats">
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
            {{> chatItem name='Илья' message='Друзья, у меня для вас особенный выпуск новостей!...' date='15:12' count='4' }}
        </div>
      </div>
    </aside>
    <div class="chat">
      <div class="chat-header">
        Шапка чата
      </div>
      <div class="chat-body">

      </div>
      <div class="chat-footer">

      </div>
    </div>
  </div>
</div>
