<div class="page {{ style.wrapper }}">
  <h1>{{title}}</h1>
  {{#if icon}}
    {{> (lookup . 'icon') width=255 }}
  {{/if}}
  {{#if description}}
    <p class="body-main">
      {{description}}</p>
  {{/if}}
  {{#if linkText}}
    {{> link text=linkText href=linkUrl}}
  {{/if}}
</div>
