<div class="page">
  <div class="card">
    <h1 class="card-title">
      UI
    </h1>
    <div class="card-body">
      {{> button type='button' text='button text'}}
      {{> link text='link' href='#'}}
      {{> input id='input' name='name' placeholder='placeholder' label='label' type='text' }}
      {{> input id='input1' name='name' placeholder='placeholder' label='label' type='text' value='value text' }}
      {{> input id='input2' name='name' placeholder='placeholder' label='label' type='text' error='Description error' }}
      {{> input id='input3' name='name' placeholder='placeholder' label='label' type='text' disabled='disabled' }}
      {{> inputImg id='avatar' name='avatar' type='text' }}
      {{>errorPage title='404' icon='iconError404' description='Page not found' linkText='Back to chat' linkUrl='#'}}
    </div>
  </div>
</div>
