<div class="page">
  <div class="buttons-group page-nav">
    {{> link text='Back' href='#'}}
    {{> button type='button' text='Logut' danger='true' }}
  </div>
  <div class="card">
    <h1 class="card-title">Change password</h1>
    <form class="card-body">
      {{> input id='oldPassword' name='oldPassword' placeholder='Old password' label='Old password' type='password' }}
      {{> input id='newPassword' name='newPassword' placeholder='New password' label='New password' type='password' }}
      {{> input id='confirmPassword' name='confirmPassword' placeholder='Confirm password' label='Confirm password' type='password' }}
      <div class="buttons-group">
        {{> button type='submit' text='Save'}}
      </div>
    </form>
  </div>
</div>
