.input {
  width: 240px;
  height: 240px;
  border-radius: 48px;
  background-color: var(--secondary2);
  overflow: hidden;
}

.edit {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity ease-out .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(125, 125, 125, 0.7);

  &:hover {
    opacity: 1;
  }
}
